<?xml version="1.0" encoding="UTF-8"?>

<web-app>

    <servlet>
    <servlet-name>abc</servlet-name>
    <servlet-class>com.Axelor.five.AddServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
     <servlet-name>abc</servlet-name>
     <url-pattern>/add</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>pqr</servlet-name>
    <servlet-class>com.Axelor.five.SqureServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
     <servlet-name>pqr</servlet-name>
     <url-pattern>/sq</url-pattern>
    </servlet-mapping>
    
</web-app>